<!-- source/flats/show.html.erb -->

<!-- Access data.flats with owner's name as key -->
<% flat = data.flats[owner] %>

<!-- Inject flat data in template -->

 <div class="container">
   <div class="row">
    <div class="col-xs-6 col-sm-6">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", class: "img-circle card_user" %>
      <p><%= flat.name %></p>
      <h1><%= flat.description %></h1>
      <p><%= flat.city_name %></p>
      <p><%= flat.rating %></p>
    </div>
    <div class="col-xs-6 col-sm-6">
      <%= partial "layouts/form" %>
    </div>
  </div>
</div>



